# SLSA Build Level 3 compliant build workflow
name: SLSA Build

on:
  push:
    branches: [main]
    tags: ["v*"]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - config: .github/slsa-goreleaser-linux-amd64.yml
          - config: .github/slsa-goreleaser-linux-arm64.yml
          - config: .github/slsa-goreleaser-windows-amd64.yml
          - config: .github/slsa-goreleaser-darwin-amd64.yml
          - config: .github/slsa-goreleaser-darwin-arm64.yml
    permissions:
      actions: read
      attestations: write
      contents: write
      id-token: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_go_slsa3.yml@v2.0.0
    with:
      go-version: "1.21"
      go-version-file: go.mod
      config-file: ${{ matrix.config }}
      upload-assets: ${{ startsWith(github.ref, 'refs/tags/') }}
